.main {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #021334;
    width: 100vw;
    height: 60px;
    padding: 0 20px;
}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: #fff;
    font-size: 27px;
    padding-left: 10px;
    margin-bottom: 0;
}

.popoverContent{
    display: flex;
    flex-direction: column;
}

.release{
    font-weight: 600;
    margin: 40px 0 0 50px;
    text-transform: uppercase;
}

.moviesContainer{
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.likedmovies{
    display: flex;
    flex-direction: column;
}